<h3 class="h3 my-2 mx-4">Load Profile</h3>
<button type="button" class="btn btn-outline-dark my-2 mx-4" (click)="backProj()">Back to project</button>
<div class="main">
   <div class="container">
       <table class="table table-striped">
         <thead>
           <tr>
            <th rowspan="2" class="align-middle">Description</th>
            <th rowspan="2" class="align-middle">Amount</th>
            <th rowspan="2" class="align-middle"> Power[W]</th>
            <th rowspan="2" class="align-middle">Total Power[W]</th>
            <th colspan="24" class="text-center">Hour</th>
           </tr>
           <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>0</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>lamp</td>
             <td>10</td>
             <td>25</td>
             <td>250</td>
             <td>250</td>
             <td>250</td>
             <td>250</td>
           </tr>
           <tr>
            <td>TV</td>
            <td>2</td>
            <td>100</td>
            <td>200</td>
            <td>250</td>
            <td>250</td>
            <td>250</td>
          </tr>
          <tr>
            <td>Phone Charger</td>
            <td>6</td>
            <td>10</td>
            <td>60</td>
            <td>60</td>
            <td>250</td>
            <td>250</td>
          </tr>
         </tbody>
       </table>
   </div>
</div>
