<h3 class="h3 my-2 mx-4">Load Profile</h3>
<button type="button" class="btn btn-outline-dark my-2 mx-4" (click)="backProj()">Back to project</button>
<div class="main">
   <div class="container">
       <table class="table table-striped">
         <thead>
           <tr>
            <th rowspan="2" class="align-middle">Description</th>
            <th rowspan="2" class="align-middle">Amount</th>
            <th rowspan="2" class="align-middle"> Power[W]</th>
            <th rowspan="2" class="align-middle">Total Power[W]</th>
            <th colspan="25" class="text-center">Hour</th>
           </tr>
           <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>0</th>
            <th>Total hours</th>
           </tr>
         </thead>
         <tbody >
           <tr *ngFor ="let prop of loadsList">
             <td>{{prop.description}}</td>
             <td>{{prop.amount}}</td>
             <td>{{prop.power}}</td>
             <td>{{prop.totalPower}}</td>
             <ng-container *ngFor = "let h of prop.hours">
                <ng-container *ngIf="h; else elseBlock1"> <td><input type="checkbox" checked></td></ng-container>
                <ng-template #elseBlock1> <td><input type="checkbox"></td> </ng-template>
             </ng-container>
             <td>{{prop.totalHours}}</td>
           </tr>
           <tr>
         </tbody>
       </table>
   </div>
</div>
