    <div class="row1_cont">
      <div class="row1">
        <app-panel></app-panel>
      </div>
      <div class="row1">
       <app-panel-inverter></app-panel-inverter>
      </div>
      <div class="row2">
       <app-battery></app-battery>
       <app-inverter-battery></app-inverter-battery>
       <app-inverter></app-inverter>
      </div>
      <div class="row1">
       <app-inverter-load></app-inverter-load>
      </div>
      <div class="row1">
       <app-load></app-load>
      </div>
    </div>

